@roger:registry=https://us-central1-npm.pkg.dev/roger-470808/r4b-common-nodemodules/
//us-central1-npm.pkg.dev/roger-470808/r4b-common-nodemodules/:always-auth=true
//us-central1-npm.pkg.dev/roger-470808/r4b-common-nodemodules/:username=_json_key_base64
//us-central1-npm.pkg.dev/roger-470808/r4b-common-nodemodules/:_password=${ARTIFACT_REGISTRY_PWD}
//us-central1-npm.pkg.dev/roger-470808/r4b-common-nodemodules/:email=not.valid@email.com
s